* {
  margin: 0; 
  padding: 0; 
  list-style: none; 
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

img { 
  display: block; 
  max-width: 100%;
}

html, body { 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
}
body { 
  color: #fff; 
  font-family: Arial, sans-serif; 
  background-color: #161a25;
}

.ipscend-header {
  background: #202534;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  text-align: center;
}

.ipscend-logo {
  position: absolute;
  background-image: url('../img/ipfs-logo.png');
  background-position: left center;
  background-repeat: no-repeat;
  height: 30px;
  line-height: 30px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 40px;
  margin: 10px;
}

.ipscend-controls {
  display: inline-block;
  line-height: 50px;
}

.btn {
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 20px;
}

.btn.is-disabled, 
.btn[disabled] {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
}

.btn--success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.view { 
  width: 95%;
  max-width: 700px; 
  margin: 0 auto; 
  position: relative; 
}

.versions { 
  position: relative; 
  width: 100%; 
  height: 100%; 
  margin-top: 25%; 
  -webkit-perspective-origin: 100% 100%; 
  perspective-origin: 100% 100%;  
  -webkit-perspective: 1200px; 
  perspective: 1200px;
}

.versions li { 
  border-radius: 2px 2px 6px 6px;
  overflow: hidden;
  position: absolute; 
  top: 0; 
  left: 0; 
  /*width: 800px; */
  /*height: 600px; */
  width: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; 
  display: block; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
  opacity: 0;
}

.browser-ui {
  padding: 20px 0 0;
  border-radius: 3px;
  background: #ddd;
  display: inline-block;
  position: relative;
  line-height: 0;
  min-height: 300px;
}

.browser-ui__header {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;   
  display: block;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2px;
  text-align: center;
  line-height: 20px;
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.8), 0 0 1px rgba(0, 0, 0, 1);


  background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(226,226,226,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,247,247,1)), color-stop(100%, rgba(226,226,226,1)));
  background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(226,226,226,1) 100%);
  background: -o-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(226,226,226,1) 100%);
  background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(226,226,226,1) 100%);
  background: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(226,226,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e2e2e2', GradientType=0 );
}

.browser-ui__buttons {
  float: left;
  text-align: left;
}

.browser-ui__buttons span {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #e1b33d;
  margin: 0 0 0 4px;
  display: inline-block;
  vertical-align: middle;
}

.browser-ui__buttons span:first-child {
  background-color: #df5655;
}

.browser-ui__buttons span:last-child {
  background-color: #7fba2e;
}

.browser-ui__title {
  font-size: 11px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  postion: relative;
  top: -1px;
  color: #444;
}

.browser-ui__content {
  background-color: white;
  max-height: 500px;
  overflow-y: auto;
  padding: 20px;  
}

.browser-ui__content img {
  object-fit: cover;
}
